.eve {
  width: theme("width.eveWidth");
  transform: translate(0, -20px);

  & .head-container {
    width: 200px;
    height: 125px;
    margin: auto;
    animation: moveHeadEve 3s ease infinite alternate;
    position: relative;
    z-index: 5;

    & .head {
      background: white;
      background-image:
        radial-gradient(100% 250% ellipse at 0% 50%, #fff 25%, transparent 35%),
        radial-gradient(circle at 0% 0%, white, #aaa);
      width: 150px;
      height: 110px;
      margin: auto;
      border-radius: 50% 50% 35% 35%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(0, 10px);
      box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
    }

    & .face {
      background: linear-gradient(to bottom, #353535, #111);
      width: 115px;
      height: 70px;
      border-radius: 50% 50% 46% 46% / 60% 60% 37% 37%;
      border: 2px solid black;
      transform: translate(0, -4px);
      display: flex;
      justify-content: space-evenly;
      overflow: hidden;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
      perspective: 100px;
      transform-style: preserve-3d;

      &::after {
        content: "";
        display: block;
        background: #111;
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        transform: translate(25px, 0);
        z-index: -1;
      }

      &.happy .eye {
        width: 38px;
        height: 20px;
        background: transparent;
        border-radius: 50%;
        transform: translate(0, 27px);
        box-shadow: 0 -6px 0 #1aa1d8;
        animation: changeEyes 2s linear infinite alternate;
      }

      &.circle .eye {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        box-shadow: 0 0 3px 2px #00b2e5;
        transform: translate(0, 20px);
        background: repeating-linear-gradient(29deg, #09e0ff 10%, #00b2e5 20%);
      }

      &.ellipse .eye {
        width: 36px;
        height: 20px;
        border-radius: 50%;
        box-shadow: 0 0 3px 2px #00b2e5;
        transform: translate(0, 28px) rotate(20deg);
        background: repeating-linear-gradient(29deg, #09e0ff 10%, #00b2e5 20%);

        &.right {
          transform: translate(0, 28px) rotate(-20deg);
        }
      }
    }
  }

  & .body-container {
    display: flex;
    justify-content: center;
    animation: moveBody 3s ease infinite alternate;

    & .right-container {
      perspective: 200px;
    }

    & .arm {
      background: white;
      width: 30px;
      height: 130px;
      border-radius: 40% 40% 75% 75%;

      &.left {
        transform: translate(10px, 25px);
        box-shadow: 4px 0 0 #bbb;
        background-image: linear-gradient(to left, #fff 60%, #ccc 90%);
        position: relative;
        z-index: 2;
      }

      &.right {
        transform: translate(-10px, 25px) rotateY(184deg) skewX(-2deg);
        box-shadow: -4px 0 0 #bbb;
        background-image: linear-gradient(to right, #fff 40%, #ccc 80%);
      }
    }

    & .body {
      background: white;
      background-image:
        radial-gradient(ellipse 250% 250% at 80% 120%, #ccc 15%, transparent 25%),
        radial-gradient(100% 250% ellipse at 0% 50%, #fff 25%, transparent 35%),
        linear-gradient(to right, #fff, #ccc);
      width: 150px;
      height: 200px;
      border-radius: 25% 25% 50% 50% / 25px 25px 60% 60%;
      box-shadow:
        0 0 35px rgba(0, 0, 0, 0.3),
        2px 2px 15px rgba(0, 0, 0, 0.12);
      position: relative;
      z-index: 1;

      & .panel {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 45px;
        height: 15px;
        transform: translate(25px, 10px);

        &.animated {
          & .dot-1 {
            animation: dotAppears 10s linear 2s 1 forwards;
          }

          & .dot-2 {
            animation: dotAppears 10s linear 4s 1 forwards;
          }

          & .dot-3 {
            animation: dotAppears 10s linear 6s 1 forwards;
          }

          & .bigdot {
            animation: bigDot 2s linear 10s 1 forwards;
          }
        }

        & .dot {
          --color: #7392a3;

          width: 5px;
          height: 5px;
          border-radius: 50%;
          background: var(--color);
          box-shadow: 0 0 4px 1px var(--color);
          opacity: 0;
        }

        & .bigdot {
          --color: #6bbc6d;

          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: var(--color);
          box-shadow: 0 0 4px 1px var(--color);
          opacity: 0;
        }
      }

      &::before {
        content: "";
        display: block;
        width: 130px;
        height: 20px;
        background: #bbb;
        background-image: radial-gradient(circle, #999, #bbb);
        margin: auto;
        border-radius: 50%;
        filter: blur(4px);
      }
    }
  }

  & .shadow {
    width: 100px;
    height: 10px;
    border-radius: 50%;
    filter: blur(2px);
    margin: auto;
    animation: moveShadow 3s ease infinite alternate;
  }

  & .scanner {
    background: linear-gradient(blue, transparent);
    opacity: 0;
    position: absolute;
    top: 6px;
    width: 100%;
    height: 250px;
    z-index: 10;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    transform-origin: 50% 0;

    &.animated {
      animation: moveScanner 3s linear alternate 2 backwards;
    }
  }
}

@keyframes changeEyes {
  0% {
    transform: translate(0, 27px) rotateX(-10deg);
  }

  100% {
    transform: translate(0, 27px) rotateX(60deg);
  }
}

@keyframes moveScanner {
  0% {
    transform: skew(50deg);
    opacity: 0.3;
  }

  100% {
    transform: skew(-50deg);
    opacity: 0.3;
  }
}

@keyframes dotAppears {

  0%,
  22% {
    opacity: 0;
  }

  25%,
  100% {
    opacity: 1;
  }
}

@keyframes bigDot {

  0%,
  4%,
  10%,
  14%,
  20%,
  24%,
  30%,
  34%,
  40%,
  44%,
  50%,
  54% {
    opacity: 0;
  }

  5%,
  9%,
  15%,
  19%,
  25%,
  29%,
  35%,
  39%,
  45%,
  49%,
  55%,
  59%,
  100% {
    opacity: 1;
  }
}

@keyframes moveShadow {
  0% {
    transform: translate(0, 15px) scale(1, 1);
    background: #ddd;
  }

  100% {
    transform: translate(0, 15px) scale(0.8, 0.8);
    background: #ccc;
  }
}

@keyframes moveBody {
  0% {
    transform: translate(0, -10px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes moveHeadEve {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 15px);
  }
}

